# Overview

There are 1924 functions that are not top-dimensional. We use 

"C:\Users\RhysL\Desktop\For github\Stability_Conditions\MSA\Dimension_Analysis\Rf Dimension Count.ipynb"

to extract those functions.

The objective is to extract these functions into 3 seperate excel files for Marco.

# Steps

## We will take P5.xlsx and convert to a dataframe.

In [5]:
import pandas as pd

In [25]:
df = pd.read_excel('P5_empty_polys\P5.xlsx')

# df = pd.read_excel('path/to/your/excel_file.xlsx')

print(df.tail())

       1      2      3      4      5      12     13     23     14     24     \
10329      0      0      0      0      0      1      1      1      1      1
10330      0      0      0      0      0      1      1      1      1      1
10331      0      0      0      0      0      1      1      1      1      1
10332      0      0      0      0      0      1      1      1      1      1
10333      0      0      0      0      0      1      1      1      1      1

       ...  135    235    145    245    1235   1245   1345   1234   2345   \
10329  ...      1      2      1      2      2      2      2      2      3
10330  ...      1      1      2      2      2      3      2      2      2
10331  ...      2      2      1      1      3      2      2      2      2
10332  ...      2      1      2      1      2      2      3      2      2
10333  ...      1      1      1      1      2      2      2      3      2

       12345
10329      3
10330      3
10331      3
10332      3
10333      3

[5 rows x 31 columns]

## Take indices for those functions in the correct format.

In [26]:
#dim 0 
x=[186, 187, 188, 196, 198, 201, 202, 204, 218, 220, 221, 228, 234, 253, 256, 257, 258, 264, 268, 315, 339, 354, 355, 360, 366, 367, 370, 372, 386, 393, 398, 401, 411, 413, 414, 416, 417, 420, 452, 454, 455, 460, 467, 480, 486, 487, 489, 492, 493, 506, 507, 508, 516, 517, 518, 520, 548, 1002, 1013, 1015, 1024, 1029, 1038, 1040, 1041, 1042, 1045, 1048, 1052, 1053, 1056, 1057, 1059, 1065, 1066, 1067, 1068, 1080, 1082, 1083, 1085, 1086, 1090, 1092, 1093, 1095, 1096, 1112, 1129, 1130, 1131, 1132, 1133, 1136, 1141, 1142, 1143, 1144, 1154, 1155, 1156, 1162, 1167, 1170, 1171, 1173, 1174, 1177, 1178, 1183, 1196, 1197, 1198, 1204, 1205, 1206, 1207, 1222, 1236, 1239, 1247, 1253, 1266, 1267, 1271, 1272, 1273, 1275, 1283, 1285, 1286, 1289, 1295, 1296, 1297, 1298, 1299, 1305, 1307, 1310, 1311, 1313, 1315, 1318, 1319, 1323, 1324, 1345, 1346, 1348, 1350, 1355, 1365, 1368, 1382, 1385, 1386, 1387, 1389, 1391, 1393, 1394, 1395, 1400, 1402, 1408, 1814, 1830, 1831, 1832, 1833, 1834, 1842, 1847, 1848, 1849, 1850, 1857, 1858, 1859, 1862, 1863, 1864, 1865, 1866, 1873, 1874, 1875, 1877, 1879, 1881, 1883, 1885, 1887, 1893, 1902, 1924, 1936, 1937, 1943, 1949, 1953, 1955, 1957, 1958, 1959, 1962, 1969, 1971, 1972, 1974, 1977, 1979, 1980, 1982, 1983, 2002, 2004, 2006, 2010, 2011, 2012, 2014, 2015, 2018, 2019, 2034, 2050, 2051, 2052, 2053, 2054, 2065, 2066, 2067, 2068, 2070, 2074, 2075, 2076, 2083, 2090, 2091, 2097, 2098, 2099, 2100, 2112, 2114, 2116, 2117, 2118, 2122, 2124, 2127, 2128, 2592, 2601, 2602, 2603, 2606, 2624, 2625, 2627, 2630, 2631, 2633, 2635, 2636, 2638, 2643, 2644, 2660, 2661, 2662, 2699, 2700, 2702, 2710, 2715, 2720, 2721, 2723, 2728, 2729, 2731, 2738, 2739, 2740, 2746, 2747, 2748, 2750, 2764, 2788, 2801, 2803, 2804, 2805, 2813, 2821, 2833, 2835, 2836, 2837, 2838, 2839, 2841, 2843, 2845, 2856, 2860, 2864, 2994, 2997, 2998, 3011, 3012, 3016, 3018, 3019, 3024, 3029, 3033, 3037, 3052, 3053, 3054, 3062, 3071, 3075, 3078, 7702, 7704, 7705, 7710, 7714, 7717, 7721, 7722, 7725, 7728, 7729, 7745, 7753, 7764, 7765, 7768, 7769, 7770, 7773, 7852, 7857, 7858, 7859, 7864, 7867, 7874, 7881, 7884, 7885, 7886, 7889, 7891, 7893, 7894, 7895, 7903, 7905, 7913, 8044, 8045, 8047, 8053, 8057, 8064, 8065, 8067, 8068, 8069, 8073, 8076, 8083, 8088, 8091, 8093, 8094, 8096, 8109, 8130, 8141, 8144, 8149, 8154, 8172, 8174, 8175, 8176, 8179, 8182, 8193, 8194, 8195, 8196, 8198, 8201, 8202, 8203, 8204, 8212, 8213, 8215, 8219, 8220, 8225, 8226, 8227, 8229, 8230, 8240, 8263, 8272, 8273, 8278, 8282, 8284, 8287, 8291, 8292, 8293, 8298, 8301, 8303, 8304, 8305, 8307, 8308, 8312, 8313, 8317, 8320, 8321, 8324, 8326, 8327, 8329, 8332, 8334, 8337, 8350, 8362, 8364, 8370, 8375, 8383, 8387, 8388, 8389, 8391, 8394, 8416, 8417, 8418, 8419, 8420, 8424, 8425, 8426, 8427, 8438, 8439, 8440, 8442, 8443, 8448, 8449, 8450, 8452, 8453, 8508, 8509, 8510, 8519, 8522, 8528, 8529, 8531, 8545, 8548, 8549, 8552, 8555, 8556, 8558, 8560, 8561, 8568, 8582, 9228, 9240, 9250, 9251, 9255, 9261, 9263, 9265, 9270, 9271, 9272, 9286, 9289, 9291, 9292, 9293, 9295, 9296, 9299, 9300, 9305, 9307, 9308, 9310, 9311, 9312, 9314, 9317, 9319, 9321, 9387, 9399, 9401, 9402, 9403, 9404, 9407, 9408, 9409, 9410, 9433, 9437, 9438, 9439, 9442, 9448, 9453, 9454, 9455, 9459, 9460, 9463, 9464, 9471, 9473, 9475, 9478, 9481, 9483, 9485, 9505, 9508, 9509, 9519, 9521, 9523, 9524, 9526, 9533, 9535, 9537, 9540, 9541, 9543, 9544, 9545, 9561, 9564, 9571, 9598, 9610, 9613, 9615, 9621, 9624, 9625, 9626, 9629, 9630, 9631, 9632, 9633, 9634, 9637, 9659, 9660, 9663, 9664, 9667, 9668, 9675, 9677, 9679, 9680, 9681, 9683, 9685, 9687, 9689, 9716, 9718, 9720, 9744, 9745, 9748, 9749, 9750, 9774, 9778, 9783, 9787, 9794, 9800, 9801, 9802, 9808, 9811, 9818, 9850, 9851, 9853, 9863, 9864, 9868, 9869, 9870, 9899, 9902, 9903, 9919, 9923, 9926, 9929, 9938, 9946, 9949, 9958, 10003, 10016, 10042, 10060, 10061, 10063, 10064, 10072, 10073, 10075, 10076, 10080, 10082, 10083, 10084, 10090, 10091, 10092, 10094]
funct_indices_dim_0=[i-1 for i in x] 

"""I think i shifted them all previously by 1 for some reason, 
so I need to shift back to get the indices so i can extract rows of dataframe P5 as indicing starts at 0.
"""

'I think i shifted them all previously by 1 for some reason, \nso I need to shift back to get the indices so i can extract rows of dataframe P5 as indicing starts at 0.\n'

In [27]:
#dim 1
y=[168, 169, 172, 181, 199, 200, 203, 213, 214, 217, 219, 229, 231, 243, 249, 254, 255, 260, 265, 266, 270, 300, 302, 304, 321, 344, 345, 357, 359, 364, 368, 375, 376, 381, 387, 399, 404, 405, 410, 415, 421, 422, 433, 434, 436, 445, 457, 466, 468, 475, 485, 488, 490, 491, 496, 510, 514, 515, 521, 522, 536, 547, 552, 586, 600, 629, 679, 682, 703, 829, 830, 832, 921, 932, 936, 965, 967, 974, 1012, 1016, 1037, 1039, 1043, 1058, 1062, 1069, 1074, 1079, 1084, 1087, 1127, 1128, 1135, 1138, 1161, 1163, 1166, 1175, 1182, 1193, 1194, 1201, 1237, 1238, 1243, 1268, 1274, 1279, 1284, 1291, 1293, 1304, 1316, 1321, 1333, 1334, 1335, 1356, 1358, 1367, 1369, 1370, 1371, 1392, 1397, 1401, 1407, 1410, 1412, 1524, 1530, 1546, 1606, 1610, 1637, 1681, 1682, 1696, 1731, 1733, 1738, 1775, 1776, 1788, 1823, 1827, 1843, 1844, 1853, 1854, 1871, 1878, 1882, 1895, 1897, 1898, 1934, 1938, 1954, 1966, 1968, 1981, 1985, 1991, 1997, 2005, 2008, 2016, 2044, 2049, 2069, 2071, 2082, 2084, 2086, 2087, 2095, 2096, 2109, 2135, 2581, 2583, 2584, 2605, 2607, 2620, 2623, 2632, 2639, 2640, 2646, 2653, 2654, 2663, 2666, 2679, 2681, 2683, 2714, 2717, 2722, 2726, 2727, 2742, 2745, 2751, 2752, 2754, 2763, 2768, 2777, 2780, 2781, 2807, 2808, 2815, 2817, 2819, 2820, 2834, 2847, 2858, 2862, 2865, 2868, 2887, 2898, 2918, 2947, 2950, 2956, 2978, 2979, 2980, 2999, 3008, 3013, 3015, 3017, 3027, 3032, 3040, 3048, 3049, 3051, 3056, 3064, 3072, 3076, 3081, 3087, 3095, 3328, 3331, 3332, 3373, 3382, 3389, 3937, 3951, 3952, 4056, 4069, 4070, 4626, 4627, 4633, 4671, 4691, 4696, 5683, 5692, 5693, 5728, 5729, 5741, 6290, 6291, 6312, 6338, 6339, 6350, 6981, 6982, 6994, 7107, 7116, 7121, 7391, 7393, 7394, 7430, 7431, 7453, 7484, 7485, 7503, 7686, 7687, 7689, 7713, 7715, 7723, 7726, 7727, 7746, 7751, 7757, 7766, 7771, 7772, 7777, 7831, 7833, 7835, 7862, 7863, 7871, 7873, 7875, 7876, 7890, 7897, 7902, 7910, 7914, 7917, 7951, 7956, 7981, 8008, 8013, 8018, 8030, 8031, 8034, 8054, 8055, 8072, 8084, 8086, 8087, 8090, 8097, 8098, 8103, 8108, 8117, 8140, 8143, 8162, 8167, 8171, 8173, 8188, 8200, 8206, 8216, 8218, 8222, 8271, 8274, 8276, 8283, 8286, 8294, 8299, 8310, 8318, 8319, 8323, 8331, 8363, 8365, 8384, 8385, 8398, 8404, 8413, 8422, 8428, 8435, 8441, 8444, 8461, 8462, 8463, 8488, 8498, 8503, 8513, 8515, 8523, 8530, 8540, 8541, 8546, 8547, 8557, 8563, 8569, 8570, 8573, 8581, 8584, 9003, 9014, 9045, 9083, 9096, 9101, 9159, 9163, 9168, 9207, 9209, 9211, 9246, 9249, 9252, 9262, 9269, 9274, 9287, 9297, 9303, 9306, 9309, 9316, 9354, 9356, 9374, 9405, 9406, 9431, 9432, 9440, 9441, 9443, 9449, 9456, 9468, 9472, 9477, 9497, 9498, 9499, 9525, 9536, 9539, 9551, 9556, 9559, 9560, 9565, 9566, 9568, 9570, 9575, 9612, 9614, 9627, 9628, 9636, 9638, 9655, 9656, 9665, 9666, 9671, 9693, 9706, 9708, 9709, 9715, 9727, 9732, 9751, 9752, 9756, 9768, 9776, 9782, 9795, 9799, 9806, 9807, 9812, 9813, 9815, 9817, 9827, 9838, 9840, 9842, 9848, 9862, 9871, 9872, 9873, 9881, 9888, 9896, 9897, 9900, 9901, 9924, 9933, 9940, 9948, 9955, 9957, 9960, 9970, 9973, 9974, 9990, 9994, 10009, 10024, 10025, 10048, 10050, 10053, 10054, 10062, 10065, 10068, 10070, 10081, 10085, 10093, 10095, 10096, 10117, 10155, 10168, 10219, 10226, 10240]
funct_indices_dim_1=[i-1 for i in y]

In [28]:
# dim 2 
w=[18, 42, 81, 88, 130, 141, 184, 185, 189, 190, 191, 192, 193, 194, 195, 197, 207, 222, 224, 233, 235, 239, 241, 247, 252, 261, 263, 267, 269, 286, 312, 313, 327, 329, 332, 333, 338, 340, 348, 353, 356, 362, 369, 373, 378, 388, 389, 390, 394, 397, 402, 406, 407, 418, 450, 451, 453, 456, 459, 470, 473, 478, 479, 481, 482, 483, 484, 494, 501, 504, 505, 511, 512, 519, 523, 537, 544, 551, 604, 607, 635, 636, 641, 642, 664, 669, 677, 678, 700, 701, 817, 818, 835, 844, 906, 908, 937, 938, 954, 955, 976, 982, 1000, 1001, 1004, 1005, 1017, 1020, 1021, 1030, 1054, 1060, 1071, 1077, 1081, 1088, 1089, 1094, 1097, 1100, 1111, 1113, 1114, 1116, 1123, 1125, 1139, 1140, 1158, 1168, 1169, 1180, 1187, 1188, 1195, 1203, 1209, 1213, 1223, 1224, 1225, 1226, 1241, 1256, 1259, 1260, 1269, 1276, 1287, 1301, 1306, 1309, 1312, 1317, 1322, 1325, 1347, 1349, 1351, 1364, 1373, 1374, 1383, 1390, 1399, 1404, 1409, 1411, 1540, 1541, 1552, 1554, 1557, 1558, 1599, 1600, 1602, 1607, 1633, 1635, 1672, 1673, 1690, 1698, 1718, 1720, 1741, 1751, 1765, 1766, 1791, 1800, 1810, 1811, 1812, 1813, 1835, 1836, 1837, 1838, 1845, 1855, 1861, 1868, 1886, 1892, 1900, 1901, 1904, 1906, 1920, 1922, 1923, 1925, 1939, 1948, 1956, 1960, 1970, 1988, 1993, 1994, 2000, 2003, 2013, 2017, 2020, 2022, 2031, 2032, 2035, 2036, 2056, 2057, 2072, 2079, 2088, 2089, 2103, 2104, 2105, 2113, 2115, 2120, 2126, 2133, 2325, 2334, 2416, 2427, 2545, 2550, 2593, 2594, 2600, 2616, 2617, 2628, 2637, 2642, 2652, 2655, 2658, 2664, 2701, 2703, 2712, 2718, 2719, 2730, 2737, 2743, 2744, 2749, 2758, 2767, 2791, 2792, 2802, 2811, 2822, 2824, 2832, 2844, 2854, 2857, 2863, 2866, 2900, 2902, 2920, 2921, 2924, 2925, 2939, 2942, 2945, 2946, 2954, 2955, 2989, 2990, 2992, 2993, 2995, 2996, 3002, 3009, 3010, 3030, 3034, 3035, 3036, 3045, 3050, 3059, 3066, 3068, 3073, 3079, 3082, 3085, 3086, 3093, 3308, 3310, 3335, 3345, 3354, 3356, 3384, 3392, 3671, 3675, 3768, 3782, 3927, 3930, 3954, 3958, 4041, 4044, 4071, 4076, 4353, 4360, 4452, 4456, 4614, 4618, 4636, 4643, 4660, 4664, 4697, 4699, 5041, 5047, 5147, 5155, 5641, 5661, 5670, 5674, 5695, 5707, 5718, 5722, 5735, 5743, 5784, 5800, 6244, 6267, 6277, 6279, 6303, 6313, 6325, 6327, 6352, 6355, 6479, 6495, 6929, 6933, 6964, 6967, 6988, 6996, 7095, 7098, 7123, 7124, 7162, 7166, 7372, 7373, 7395, 7400, 7418, 7420, 7450, 7454, 7465, 7466, 7498, 7504, 7613, 7631, 7655, 7659, 7703, 7706, 7709, 7718, 7719, 7730, 7743, 7749, 7754, 7755, 7767, 7776, 7806, 7822, 7849, 7850, 7860, 7869, 7877, 7879, 7880, 7888, 7900, 7908, 7912, 7915, 7959, 7960, 7974, 7975, 7976, 7978, 7991, 7992, 8009, 8010, 8012, 8016, 8043, 8046, 8050, 8063, 8074, 8075, 8080, 8081, 8089, 8095, 8113, 8116, 8128, 8129, 8132, 8133, 8139, 8156, 8160, 8170, 8185, 8190, 8197, 8208, 8209, 8211, 8217, 8223, 8228, 8231, 8239, 8241, 8242, 8244, 8253, 8254, 8257, 8259, 8279, 8289, 8314, 8322, 8325, 8328, 8330, 8333, 8336, 8341, 8351, 8352, 8353, 8354, 8361, 8377, 8382, 8401, 8406, 8410, 8421, 8430, 8432, 8434, 8445, 8446, 8451, 8454, 8474, 8475, 8480, 8481, 8492, 8493, 8511, 8512, 8517, 8518, 8520, 8521, 8526, 8527, 8533, 8537, 8550, 8551, 8554, 8565, 8566, 8567, 8576, 8583, 8830, 8833, 8873, 8876, 8927, 8931, 9023, 9024, 9038, 9040, 9041, 9042, 9052, 9053, 9087, 9089, 9092, 9099, 9134, 9135, 9169, 9170, 9181, 9183, 9212, 9213, 9225, 9226, 9229, 9230, 9248, 9256, 9259, 9260, 9267, 9268, 9281, 9282, 9301, 9313, 9315, 9318, 9320, 9327, 9340, 9341, 9373, 9375, 9383, 9385, 9386, 9388, 9415, 9416, 9421, 9422, 9429, 9430, 9436, 9447, 9451, 9465, 9466, 9467, 9476, 9482, 9506, 9507, 9518, 9520, 9531, 9532, 9557, 9558, 9562, 9563, 9573, 9574, 9594, 9595, 9596, 9597, 9611, 9619, 9635, 9642, 9643, 9652, 9653, 9669, 9670, 9676, 9682, 9688, 9691, 9697, 9717, 9719, 9721, 9722, 9739, 9740, 9743, 9746, 9747, 9753, 9754, 9760, 9761, 9765, 9785, 9786, 9792, 9793, 9796, 9797, 9809, 9810, 9824, 9826, 9849, 9852, 9854, 9855, 9857, 9859, 9865, 9866, 9867, 9878, 9892, 9895, 9904, 9908, 9913, 9914, 9922, 9930, 9936, 9945, 9951, 9953, 9954, 9959, 9982, 9983, 10000, 10002, 10007, 10013, 10015, 10017, 10020, 10022, 10028, 10029, 10035, 10036, 10043, 10044, 10047, 10051, 10066, 10067, 10074, 10077, 10087, 10088, 10137, 10138, 10139, 10140, 10160, 10164, 10205, 10206, 10222, 10224, 10228, 10236]
funct_indices_dim_2=[i-1 for i in w]

## We extract function with funct_indices_dim_ from P5

In [29]:
P5_funct_indices_dim_0 = df.iloc[funct_indices_dim_0]

In [30]:
P5_funct_indices_dim_1 = df.iloc[funct_indices_dim_1]

In [31]:
P5_funct_indices_dim_2= df.iloc[funct_indices_dim_2]

## Save each a as P5_dim_ ect

In [32]:
# P5_funct_indices_dim_0.head()

,1,2,3,4,5,12,13,23,14,24,...,135,235,145,245,1235,1245,1345,1234,2345,12345
185,0,0,0,0,0,0,0,0,1,0,...,1,1,1,1,1,1,2,1,2,2
186,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,2,1,2,1,2
187,0,0,0,0,0,1,0,0,1,0,...,1,0,2,1,1,2,2,1,1,2
195,0,0,0,0,0,0,1,0,1,0,...,1,0,1,1,1,1,2,2,1,2
197,0,0,0,0,0,0,1,0,0,0,...,2,1,1,1,2,1,2,1,1,2

In [35]:
P5_funct_indices_dim_0.to_excel('P5_empty_polys/P5_funct_indices_dim_0.xlsx', index=True)

In [36]:
P5_funct_indices_dim_1.to_excel('P5_empty_polys/P5_funct_indices_dim_1.xlsx', index=True)

In [37]:
P5_funct_indices_dim_2.to_excel('P5_empty_polys/P5_funct_indices_dim_2.xlsx', index=True)

## We should check these are the right functions (indexing not messed up).